.btn{
    background-color: rgba(187, 239, 255, 1);
    color: black;
    
}
.btn:hover{
    background-color: rgb(101, 206, 238);
    color: black;

}
body{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(187, 239, 255, 0.39);
}

.card{
    position: relative;
    width: 80%;
    height: 88%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:2% ;
    padding: 1%;
    background-color: white;
}

.title{
    position: relative;
    width: 100%;
    height: 20%;
    background-color:rgba(187, 239, 255, 1);
    text-overflow: clip;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputCard{
    position: relative;
    width: 70%;
    height: 80%;
    margin-left: 15%;
    margin-top: 5%;
    background-color: rgba(187, 239, 255, 0.39);

}
.col{
    position: relative;
    width: 50%;
    height: 100%;
    
    margin-left: 3.5%;
    margin-top: 3%;
}

.row{
    position: relative;
    width: 100%;
    height: 70%;
}


