<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="login.component.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>


<body>
    <div class="body" >
         
        <div class="loginBack">
            <div class="loginCard">
                <div class="center">
                    <div class="title">
                        <h2 style="padding: 2%;">FI Calculator</h2>
                    </div>
                    <div class="row">
                     
                        <label for="exampleFormControlInput1" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="username">
                   
    
                </div>
                <div class="row">
                    
                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="password">
                    
    
                </div>
                <button class="btn" type="button">Login</button>

                </div>
                
                 
                

            </div>

        </div>
    </div>
   
</body>

</html>
<router-outlet></router-outlet>