<!DOCTYPE html>
<html lang="en">

<head>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/8.6.2/firebase-app.js"></script>
    <script src="/__/firebase/8.6.2/firebase-auth.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="/__/firebase/8.6.2/firebase-analytics.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
    
    
    
    

    <link rel="stylesheet" href="login.component.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>



<body>
   
    <div class="body">

        <div class="loginBack">
            <div class="loginCard">
                <div class="center">
                    <div class="title">
                        <h2 style="padding: 2%;">FI Calculator</h2>
                    </div>
                    <div class="row">

                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Example@FiCalculator.com">


                    </div>
                    <div class="row">

                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="password">


                    </div>

                    
                    <div class="row" style="margin-top: 2%;">

                       
                       
                        <button class="btn"  type="button">Login</button>
                        <button class="btn"  type="button">Sign Up</button>
                    </div>
                        

                   
                  

                </div>




            </div>

        </div>
    </div>

</body>

</html>
<router-outlet></router-outlet>