.btn{
    background-color: rgba(187, 239, 255, 1);
    color: black;
    
}
.btn:hover{
    background-color: rgb(101, 206, 238);
    color: black;

}
body{
    position: absolute;
    height: 100%;
    background-color: rgba(187, 239, 255, 0.39);
}

.title{
    position: relative;
    width: 70%;
    height: 30%;
    margin-left: 15%;
    margin-top:2% ;
    text-align: center;

}

.card{
    position: relative;
    width: 80%;
    height: 88%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:2% ;
    padding: 1%;
    
}

.col{
    
    margin-right: 1%;
    margin-left: 1%;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid lightgray; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    
 
    
    
}
