.btn{
    background-color: rgba(187, 239, 255, 1);
    color: black;
    
}
.btn:hover{
    background-color: rgb(101, 206, 238);
    color: black;

}
.body{
    position: absolute;
   
    width: 100%;
    height: 100%;
    background-color: rgba(187, 239, 255, 0.39);
}